.box {
    border: 5px solid black;
    margin: 10px auto;
}

.box-default {
    background-color: blue;
    width: 200px;
    height: 100px;
    padding: 10px;
}

.box-border-box {
    width: 200px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    background-color: red;
}